[submodule "libs/maddy"]
	path = libs/maddy
	url = https://github.com/progsource/maddy
[submodule "libs/doctest"]
	path = libs/doctest
	url = https://github.com/onqtam/doctest
[submodule "libs/CTML"]
	path = libs/CTML
	url = https://github.com/tinfoilboy/CTML
